
<div class="container">
	<div class="d-flex justify-content-center mb-3">
		<img src="../assets/zyro-image.png" height="400" alt="IMG">
	</div>
	<form *ngIf="loginForm" [formGroup]="loginForm">
		<div class="form-group">
			<div class="form-floating mb-3">
				<input type="text" formControlName="user" class="form-control" id="idUser" placeholder="Usuario">
				<label for="idUser"><i class="bi bi-person-circle"></i> Usuario</label>
			</div>
			<div class="form-floating">
				<input type="password" formControlName="password" class="form-control" id="password" placeholder="Contraseña">
				<label for="password"><i class="bi bi-key-fill"></i> Contraseña</label>
			</div>
		</div>
		<div class="d-grid gap-2 mt-3">
			<button type="button" class="btn btn-outline-info" (click)="login()">
				<i class="bi bi-box-arrow-in-right"></i> Ingresar
			</button>
		</div>
	</form>
</div>