<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="../assets/zyro-image.png" alt="IMG">
			</div>
			<form class="login100-form validate-form" *ngIf="loginForm" [formGroup]="loginForm">
				<span class="login100-form-title">
					Iniciar sesión
				</span>
				<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

					<input class="input100" formControlName="user" type="text" placeholder="Usuario">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-user" aria-hidden="true"></i>
					</span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<input class="input100" formControlName="password" type="password" placeholder="contraseña">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" (click)="login()">
						<i class="fa fa-sign-out"></i> Iniciar Sesión
					</button>
				</div>
			</form>
		</div>
	</div>
</div>